<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    
    <p class="name">Hello</p>
    <p>E-mail: </p>
    <p>Api-Key: </p>
    <a href='/logout'>Logout</a> <br>
    <a href='/update-email'>Update E-mail</a> <br>
    <a href='/update-password'>Update Password</a>
    <form action='/delete?email=' method='post'><button type='Submit' class='btn btn-danger'>Delete</button></form>

</body>
</html>